<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h6>Calculadora</h6>
      <form class="form-inline" [formGroup]="formCalculo">

        <div class="form-group mx-sm-3 mb-4">
          <label for="inputNumero1" class="sr-only">Num 1</label>
          <input type="number" class="form-control" id="inputNumero1" placeholder="Numero 1" formControlName="numero1">
        </div>

        <div class="form-group mx-sm-3 mb-4">
          <select id="inputState" class="form-control" formControlName="operacao">
            <option selected>Operação...</option>
            <option>soma</option>
            <option>subtração</option>
            <option>divisão</option>
            <option>multiplicação</option>
          </select>
        </div>

        <div class="form-group mx-sm-3 mb-4">
          <label for="inputNumero2" class="sr-only">Num 2</label>
          <input type="number" class="form-control" id="inputNumero2" placeholder="Numero 2" formControlName="numero2">
          <!-- <p formControlName="resultado" [(ngModel)]="calculosService.resultado">Result = {{ resultado }} </p> -->
        </div>
        

        <button type="submit" class="btn btn-primary mb-2" (click)="calcular()">
          Calcular e Salvar
        </button>
        
      </form>
    </div>
    
    <div class="col-md-4">
      
      
      <h6>Operações</h6>
      <li *ngFor="let item of calculosService.calculos" class="list-group-item list-group-item-action">
        <ul class="list-group list-group-horizontal ">
          <li class="list-group-item"> {{ item.valor1 }} </li>
          <li class="list-group-item"> {{ item.operacao }} </li>
          <li class="list-group-item"> {{ item.valor2 }} </li>
          <li class="list-group-item">  = {{ item.resultado }} </li>
        </ul>
      </li>

    </div>

  </div>
</div>